*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: red;
    height: 800px;
}
.box{
    border: 2px solid black;
    display: inline-block;
    /* transform: translate(200px, 100px) rotateZ(80deg); */
    /* transform-origin: 0; */
    /* transform: scale(2, 2); */
    /* transform: scaleX(2); */
    /* transform: scaleY(2); */
    /* transform-origin: 0; */
    /* transform: skew(10deg, 10deg); */
}
img{
    width: 455px;
    height: 400px;
    /* transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    transition-delay: 1s; */
    transition: width 4s ease-in-out, height 4s ease-in;
}
img:hover{
    width: 50px;
}